@font-face {
  font-family: "ElegantIcons";
  src: url("fonts/ElegantIcons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.arrow_carrot-down,
.icon_close_alt2,
.icon_box-empty,
.icon_box-checked,
.arrow_carrot-right,
.icon_cloud-download_alt,
.icon_documents_alt {
  font-family: "ElegantIcons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.arrow_carrot-down:before {
  content: "\33";
}
.icon_close_alt2:before {
  content: "\51";
}
.icon_box-empty:before {
  content: "\56";
}
.icon_box-checked:before {
  content: "\5a";
}
.arrow_carrot-right:before {
  content: "\35";
}
.icon_cloud-download_alt:before {
  content: "\e004";
}
.icon_documents_alt:before {
  content: "\69";
}
